.login-page {
  display: flex;
  width: 100%;
  min-height: 82vh;
  background-color: #f2f3f7;
  justify-content: center;
  align-items: center;
}

.login-page__form {
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 368px;
  height: 298px;
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 var(--dark-8);
  background-color: #ffffff;
}

.login-page__title {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
  padding-bottom: 12px;
}

.login-page__label {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: var(--slate-grey);
  padding: 12px 0 9px;
}

.login-page__input {
  width: 320px;
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--pale-grey);
  background-color: #ffffff;
  padding-left: 12px;
}

.login-page__input:nth-child(2) {
  padding-bottom: 24px;
}

.login-page__input::placeholder {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.22px;
  color: var(--silver);
  padding: 6px 0;
}

.login-page__form-end-block {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.login-page__link {
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.19px;
  color: var(--soft-blue-two);
  text-decoration: underline;
}

.login-page__btn {
  width: 68px;
  height: 36px;
  color: #a2a3aa;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: -0.1px;
}

.login-page__btn:hover,
.login-page__btn:focus {
  color: black;
}
