<app-header></app-header>

<div class="login-page">

  <form class="login-page__form" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="login-page__title">Login</h1>

    <div class="form-control">
      <label for="login" class="login-page__label">E-mail: </label>

      <input *ngIf="!this.user" id="email" class="login-page__input" type="email" placeholder="Enter e-mail"
        formControlName="login">

      <input *ngIf="this.user" id="email" class="login-page__input" type="email" placeholder="жира e-mail"
        value="{{user.login}}" formControlName="login">
    </div>

    <div class="form-control">
      <label for="password" class="login-page__label">Password:</label>
      <input id="password" class="login-page__input" type="text" placeholder="Enter password"
        formControlName="password">
    </div>

    <div class="login-page__form-end-block">
      <a link="#" class="login-page__link">Forgot password?</a>

      <button type="submit" class="btn login-page__btn" 
      [disabled]="form.invalid">Login</button>
    </div>
  </form>
</div>
<app-footer></app-footer>