.notFoundPage {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notFoundPage__link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}