<div class="wrapper">

  <app-header></app-header>
  <app-breadcrumbs></app-breadcrumbs>
  <div class="container">
    <router-outlet></router-outlet>

    <p *ngIf="loader$ | async">
      <app-my-loader></app-my-loader>
    </p>
    
  </div>

  <app-footer></app-footer>
</div>