.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(30, 32, 42, 0.62);
}

.modal {
  height: 212px;
  margin-top: 4rem;
  background: #ffffff;
  width: 354px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal__header {
  background-color: #eaedf5;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal__header > h2,
.modal__header > button {
  margin: 0 24px;
}

.modal__main {
  display: flex;
  flex-direction: column;
}

.modal__p {
  align-items: center;
  padding: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #525462;
}

.modal__btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

.btn {
  padding: 0 18px;
  border: none;
  margin-left: 18px;
  height: 36px;
  border-radius: 3px;
  background-color: #d9dbe3;
  color: #525462;
}

.btn-green {
  background-color: #9bc837;
  color: #fff;
}
