<div>
  <div class="backdrop"></div>

  <div class="modal">
    <header class="modal__header">
      <h2>Delete course?</h2>
      <button class="btn" (click)="clickCancel()">close</button>
    </header>
    <div class="modal__main">

      <p class="modal__p">Are you sure you want to delete this course?
      </p>

      <div class="modal__btns">
        <button class="btn" (click)="clickCancel()">Cancel</button>
        <button class="btn btn-green confirm" (click)="clickConfirm()">Yes, delete</button>
      </div>
    </div>

  </div>
</div>
