.list-courses {
  max-width: 1280px;
  background-color: var(--pale-grey-two);
}

.noMessage {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.list-courses__load-more {
  text-align: center;
  margin: 0 auto;
}

.list-courses__load-more:hover, 
.list-courses__load-more:focus {
  cursor: pointer;
  color: blue;
}