<div class="list-courses">
  <app-search-n-add 
  ngDefaultControl 
   (changeSearch)="onSearchChange($event)"
   >
  </app-search-n-add>
  <app-modal-delete *ngIf="courseIdToDelete" Title="modal window" (confirm)="itemDelete()" (cancel)="closeDelModal()">
  </app-modal-delete>

  <app-course-item *ngFor="let course of (courses$ | async)" [course]="course"
    (clickToggleModal)="clickToggleModal($event)">
  </app-course-item>
  <a class="list-courses__load-more" (click)="loadMoreCourse()">LOAD MORE </a>
</div>
