.course,
.course__topRated {
  display: flex;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 var(--dark-8);
}

.course {
  background-color: #ffffff;
}

.course__topRated {
  background-color: rgb(248, 250, 116);
}

.course__info {
  margin-right: 88px;
}

.course__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course__time {
  display: flex;
  flex-direction: row;
  color: #b9bdce;
  font-size: 12px;
}

.course__minDuration {
  margin-right: 16px;
}

.course__name {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
}

.course__description {
  // font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--slate-grey);
}

.course__btns {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
}

.faStar {
  color: var(--dark-sky-blue);
}

.faClock, .faCalendarAlt {
  margin: 0 0.2rem 0;
}
