<article 
*ngIf="course; else noMessage"
class="course" 
[ngClass]="{course__topRated: course.topRated}" 
   [appBorderColor]="course.date">
  <div class="course__info">
    <div class="course__title">
      <h2 class="course__name">{{course.name | uppercase}}</h2>

      <fa-icon *ngIf="course.topRated" class="faStar" [icon]="faStar"></fa-icon>
      <div class="course__time">
        <div class="course__minDuration">
          <fa-icon class="faClock" [icon]="faClock"></fa-icon>
          <span>{{course.length | duration}}</span>
        </div>
        <div class="course__creationDate">
          <fa-icon class="faCalendarAlt" [icon]="faCalendarAlt"></fa-icon>
          <span>{{course.date | date}}</span>
        </div>
      </div>
    </div>
    <p class="course__description">{{course.description}}</p>
  </div>

  <div class="course__btns">
    <button class="btn btn-blue btn-edit" (click)="courseEdit()" [routerLink]="['/courses/', course.id]">
      <i></i>
      <span>Edit</span>
    </button>
    <button class="btn btn-blue" (click)="toggleModal()">
      <i></i>
      <span>Delete</span>
    </button>
  </div>
</article>

<ng-template #noMessage>
  <article class="noMessage"><a href="#">NO DATA, FEEL FREE TO ADD NEW COURSE</a></article>
</ng-template>