.footer {
  background-color: var(--charcoal-grey);
  width: 100%;
  height: 64px;
  display: flex;
}

.footer__wrapper {
  width: 100%;
  padding: 0 85px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.footer_p {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: var(--silver);
}
