.author {
    width: 312px;
    height: 36px;
    margin: 9px 0 0;
    padding: 6px 143px 6px 12px;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
    margin-bottom: 24px;
}