<div class="add-page-wrapper">

    <form class="add-page" [formGroup]="form">
        <h1 class="add-page__title">New course</h1>

        <div class="add-page-item">
            <label class="add-page-item__label" for="title">Title:</label>
            <input id="title" class="add-page-item__input" type="text" formControlName="name" required>
        </div>

        <div class="add-page-item">
            <label class="add-page-item__label" for="description">Description:</label>
            <textarea class="add-page-item__textarea" id="description" formControlName="description"
                required></textarea>
        </div>

        <div class="add-page-item">
            <label class="add-page-item__label" for="duration">Duration:</label>
            <div class="add-page-item__duration-wrapper">
                <input type="number" id="duration" class="add-page-item__duration-input" [(ngModel)]="lengthCourse"
                    formControlName="length" required>
                <span class="add-page-item__duration_length-info">{{lengthCourse | duration:lengthCourse}}</span>
            </div>
        </div>

        <div class="add-page-item">
            <label class="add-page-item__label" for="date-of-course">Date:</label>
            <input type="date" id="date-of-course" class="add-page-item__date-input" value="2018-11-23"
                formControlName="date" required>
        </div>

        <div class="add-page-item">
            <label class="add-page-item__label" for="app-authors">Authors:</label>
            <div class="add-page-item__authors-wrapper">
                <div class="add-page-item__authors-btn">John Doe <span>&#10006;</span></div>
                <div class="add-page-item__authors-btn">Youhan Smitz <span>&#10006;</span></div>
            </div>
        </div>

        <div class="add-page__btns">
            <button class="btn btn-cancel" [routerLink]="['/courses']">Cancel</button>
            <button type="button" (click)="submitForm()" [routerLink]="['/courses']" class="btn btn-green">Save</button>
        </div>
    </form>


</div>