.add-page-wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
    min-height: 80vh;
    background-color: var(--pale-grey-two);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-page {
    max-width: 731px;
    margin: 0;
    padding: 24px 24px 84px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 var(--dark-8);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-page-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.add-page-item__label {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: var(--slate-grey);
    margin: 12px 0 9px;
}

.add-page__title {
    margin-bottom: 10px;
}

.add-page-item__input,
.add-page-item__textarea {
    max-width: 683px;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
}

.add-page-item__input {
    height: 36px;
    padding: 6px 0 6px 12px;
    width: 400px;
}

.add-page-item__textarea {
    height: 108px;
    width: 400px;
    padding: 6px 0 78px 12px;
    resize: none;
}

.add-page-item__duration-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-page-item__duration_length-info {
    margin-left: 10px;
    color: grey;
}

.add-page-item__date-input,
.add-page-item__duration-input {
    padding-left: 7px;
    width: 150px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
}

.add-page__btns {
    display: flex;
    width: 100%;
    text-align: flex-end;
    justify-content: flex-end;
    margin-top: 24px;
}

.add-page__btns > .btn {
    max-width: 76px;
}

.add-page__btns > .btn:last-child {
    margin-left: 14px;
}

.add-page-item__authors-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 312px;
    height: 36px;
    margin: 9px 0 0;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
}

.add-page-item__authors-btn {
    height: 24px;
    margin: 0 6px 0 0;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--pale-grey-two);
    border: 1px solid rgb(102, 102, 102);
}
