<header class="header">
  <div class="header__logo-wrapper">
    <fa-icon class="faPlayCircle" [icon]="faPlayCircle"></fa-icon>
    <a [routerLink]="['/courses']" class="header__logo">VIDEO COURSE</a>
  </div>

  <div class="header__menu" *ngIf="isAuth()">

    <div class="header__menu-item">
      <fa-icon class="faUserCircle" [icon]="faUserCircle" [routerLink]="['/auth/login']"></fa-icon>
      <div class="header__menu-item_user-avatar" *ngIf="user">
        <div>FirstName: <span>{{user.name.first}}</span></div>
        <div>LastName: <span>{{user.name.last}}</span></div>
      </div>
    </div>

    <div class="header__menu-item">
      <fa-icon class="faSignOutAlt" [icon]="faSignOutAlt"></fa-icon>
      <a href="#" class="header__login-link" [routerLink]="['/auth/login']" (click)="logOff()">Log off</a>
    </div>

  </div>
</header>