.header {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #414452;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #30b6dd;
  opacity: 0.8;
}

.faPlayCircle {
  color: rgb(226, 150, 150);
  margin: 0.5rem;
}

.faSignOutAlt,
.faUserCircle {
  margin: 0.5rem;
  color: #fff;
}

.header__menu,
.header__menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  padding: 3px;
  margin: 3px;
}

.header__menu-item_user-avatar {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 3px;

  span {
    color: #ffff;
  }
}
