.section-search-n-add {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.section__search-panel {
  height: 48px;
  display: flex;
  margin: 24px 0;
  flex-direction: row;
  justify-content: flex-start;
}
.section__search-panel-input {
  border: solid 1px var(--pale-grey);
  background-color: #ffffff;
  height: 48px;
  padding-left: 42px;
  max-width: 360px;
  margin-right: 6px;
}

.section__search-panel-input::placeholder {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.22px;
  color: var(--silver);
  margin-right: 6px;
}

.section__search-panel-btn {
  height: 48px;
  width: 100px;
}

.btn-add {
  width: 66px;
  height: 36px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: -0.1px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.section__add-btn {
  display: flex;
  justify-content: flex-end;
}
