<div class="section-search-n-add">
  <div class="section__search-panel">
    <input
     class="section__search-panel-input"
      type="text" 
      placeholder="Text to search" 
      [(ngModel)]="search" 
      (keyup)="onSearchChange()"
    ngDefaultControl
    >
  </div>

  <div class="section__add-btn">
  <button class="btn btn-blue btn-add" (click)="addCourse()"
  >
    <fa-icon class="faPlus" [icon]="faPlus"></fa-icon>
    <span>add course</span></button>
  </div>

</div>
