.duration {
    width: 150px;
    height: 36px;
    padding: 8px 13px 9px 12px;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
  }

  .duration::placeholder {
      font-family: SourceSansPro;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.22px;
      color: var(--silver);
  }