<div class="add-page-wrapper">
 
  <div class="add-page">
    <h2 class="add-page__breaadcrumbs">Courses / <span>{{courseToEdit.name}}</span></h2>
    <form>
      <h1 class="add-page__title">New course</h1>

      <label class="add-page__label" for="title">Title:</label>
      <input id="title" class="add-page__input" type="text" value="{{courseToEdit.name}}">

      <label class="add-page__label" for="description">Description:</label>
      <textarea class="add-page__textarea" id="description">{{courseToEdit.description}}</textarea>

      <label class="add-page__label" for="app-text-input-for-now">Duration:</label>
      <app-text-input-for-now id="app-text-input-for-now">{{courseToEdit.length}}</app-text-input-for-now>

      <label class="add-page__label" for="app-input-in-minutes">Date:</label>
      <app-input-in-minutes id="app-input-in-minutes"></app-input-in-minutes>

      <label class="add-page__label" for="app-authors">Authors:</label>
      <app-authors id="app-authors"></app-authors>

      <div class="add-page__btns">
        <button class="btn btn-disabled" (click)="editCourse()" [routerLink]="['/courses/']">Cancel</button>
        <button class="btn btn-green btn-disabled" [routerLink]="['/courses/']">Save</button>
      </div>
    </form>
  </div>
</div>