.add-page-wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 80vh;
    background-color: var(--pale-grey-two);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-page {
    max-width: 731px;
    margin: 0;
    padding: 24px 24px 84px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 var(--dark-8);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-page__label {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: var(--slate-grey);
    margin: 12px 0 9px;
}

.add-page__title {
    margin-bottom: 10px;
}

.add-page__input,
.add-page__textarea {
    width: 683px;
    border-radius: 3px;
    border: solid 1px var(--pale-grey);
    background-color: #ffffff;
}

.add-page__input {
    height: 36px;
    padding: 6px 319px 6px 12px;
}

.add-page__textarea {
    height: 108px;
    padding: 6px 383px 78px 12px;
    resize: none;
}

.add-page__btns {
    display: flex;
    width: 100%;
    text-align: end;
}
