// regular style toast
@import "~ngx-toastr/toastr";

@font-face {
  font-family: "SourceSansPro", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap") format("truetype");
}

:root {
  --soft-blue-two: #5681ee;
  --pale-grey: #d9dbe3;
  --pale-grey-two: #f2f3f7;
  --charcoal-grey: #414452;
  --dark-sky-blue: #30b6dd;
  --sick-green: #9bc837;
  --slate-grey: #525462;
  // shadow
  --dark-8: rgba(18, 21, 35, 0.08);
  --silver: #c0c3ce;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 85px;
}

.btn {
  cursor: pointer;
  height: 24px;
  border-radius: 3px;
  border: none;
  width: 100%;
  padding: 0 18px 0 14px;
  color: #ffffff;
}

.btn-green {
  background-color: var(--sick-green);
}

.btn-blue {
  background-color: var(--dark-sky-blue);
}

.btn-edit {
  margin-right: 12px;
}

.btn-cancel {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $angular-intro-primary: mat-palette($mat-indigo);
// $angular-intro-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $angular-intro-warn: mat-palette($mat-red);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $angular-intro-theme: mat-light-theme((
//   color: (
//     primary: $angular-intro-primary,
//     accent: $angular-intro-accent,
//     warn: $angular-intro-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($angular-intro-theme);

// @import url("https://fonts.googleapis.com/css?family=Roboto");
// @import url('~quill/dist/quill.core.css');
// @import url('~quill/dist/quill.snow.css');
